<div class="four-column">
  <div class="card">
    <img class="media-object pull-left"
      src="{{ member.ucl | prepend: 'https://profiles.ucl.ac.uk/' | append: '/thumbnail' }}" alt="{{member[0]}}"
      style="width: 100px; border-radius: 50px;" />
  </div>
  <div class="card-container">
    <a href="{{ member.ucl | prepend: 'https://profiles.ucl.ac.uk/'}}" class="project" target="_blank">{{ member.name
      }}</a>
    <p>({{member.department}}) </p>
    <!-- <div class="icon"> -->
    <!--       {% if member.github  %} -->
    <!--           <a href="{{ member.github | prepend: 'https://github.com/' }}" target="_blank"> -->
    <!--               <span class="icon  icon--github"> -->
    <!--                   <svg viewBox="0 0 16 16"> -->
    <!--                       <path fill="#333333" d="{{ site.data.icons.gh_logo }}"/> -->
    <!--                   </svg> -->
    <!--               </span> -->
    <!-- 		@{{ member.github }}</a> -->
    <!--       {% endif %} -->
    <!-- </div> -->
    <!-- {%- if member.OS_role  %} -->
    <!-- {{member.OS_role}} -->
    <!--   {% endif -%} -->
  </div> <!-- container -->
  <!-- </div>     <\!-- card -\-> -->
</div> <!-- four-column -->
