# Checks for broken links with Lychee
name: Link Checker

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  link-checker:
    timeout-minutes: 2
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          # need to ignore the _includes which are malformed links that Jeklyll will fill
          args: "--no-progress --verbose --exclude file://_includes/* -- ."
          fail: true
          jobSummary: true
